<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<select id="boardlist" resultType="Board">
		select num,author,title,content,writeday,readcnt,repRoot,repStep,repIndent
		from board
		order by repRoot desc, repStep asc
	</select>
</mapper>